@model MvcActor.Models.Actor


@{
    ViewData["Title"] = Model.FirstName + " " + Model.LastName;
}

@{
    string ImgPath = "https://image.tmdb.org/t/p/w300" + Model.Profile_pic_path;

}

<div class="container2">
    <div id="movie-card-list" class="col">

        <div class="movie-card" style="background-image:url(@ImgPath)">
            <div class="color-overlay">
                <div class="movie-content">
                    <div class="movie-header">
                        <h1 class="movie-title text-dark">@Model.FirstName @Model.LastName</h1>
                        <h4 class="movie-info">@Model.Birthday.ToString("dd/MM/yyyy")</h4>

                    </div>
                    <p class="movie-desc">@Model.Bio</p>

                </div>
            </div>
        </div>
    </div>
</div>
