@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid padding">
<div class="row welcome text-center">	
	<div class="col-12">
		<p class="lead">
			Welcome to IMDb, a place where you can find everything about movies, TV and celebrity content. Find ratings and reviews for the newest movie and TV shows.
		</p>
	</div>
	<hr>
	<div id="wtw" class="col-12">
		<h1 class="display-4">What to Watch.</h1>
	</div>
</div>
</div>

<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
	<li data-target="#slides" data-slide-to="0" class="active"></li>
	<li data-target="#slides" data-slide-to="1"></li>
	<li data-target="#slides" data-slide-to="2"></li>
</ul>	
<div class="carousel-inner">
	<div class="carousel-item active">
		<img src="img/movie1v16x8.png">
		<div class="carousel-caption">
			<h1 class="display-2">TOP PICKS</h1>
			<h3>TV shows and movies just for you</h3>
			<a href="#"><button type="button" class="btn btn-outline-light btn-lg">Watch full list</button></a>
		</div>
	</div>
	<div class="carousel-item">
		<img src="img/movie2.png">
		<div class="carousel-caption">
			<h1 class="display-2">TOP PICKS</h1>
			<h3>TV shows and movies just for you</h3>
			<a href="#"><button type="button" class="btn btn-outline-light btn-lg">Watch full list</button></a>
		</div>
	</div>
	<div class="carousel-item">
		<img src="img/movie3.png">
		<div class="carousel-caption">
			<h1 class="display-2">TOP PICKS</h1>
			<h3>TV shows and movies just for you</h3>
			<a href="#"><button type="button" class="btn btn-outline-light btn-lg">Watch full list</button></a>
		</div>
	</div>
</div>
</div>
<div id="wtw" class="col-12"></div>
