@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <h3> Your account has been confirmed! Thank you for registering.</h3>
</div>
