@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container">


    <h1>@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {

         <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>

        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</div>
