/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
  padding: 0;
  margin: 0;
}

.navbar-dark,
.bg-dark {
  background-color: #000000 !important;
}

#wtw {
  background-color: #000000;
  color: white;
  height: 100px;
}

/*---Carousel --*/
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  text-shadow: 1px 1px 10px #000;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: whitesmoke;
  /*background-image: linear-gradient(90deg, #B03701
  , #E26001);
  color: rgb(0, 0, 0);*/
}

[class*="col-"] {
  padding: 1rem;
}

/*---Movie Cards --*/
.card {
  background-color: #000000;
  position: relative;
  margin-top: 20px;
}

/*---Movie Cards Div --*/
.container2 {
  padding-left: 10%;
  padding-right: 10%;
}
/*---Card Design --
.card-img-top{
  height: 250px;
  padding: 5px;
}*/

.container {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  display: block;
  border-radius: 8px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}

.title {
  padding-left: 1.5%;
  padding-top: 1.5%;
  text-shadow: 1px 1px 5px #000;
}

#title {
  border: 2px solid black;
  border-radius: 4px;
}

.btn-warning {
  background-color: #e26001;
  border-color: #e26001;
}

a {
  color: black;
}

a:hover {
  color: #808080;
}
.pt-6,
.py-6 {
  padding-top: 4rem !important;
}

.pb-6,
.py-6 {
  padding-bottom: 4rem !important;
}

.card-dsp {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
  border: 0;
  background-color: #0d0c0c;
}

.input-container form,
.input-container form div {
  display: inline;
}

.input-container input {
  display: inline;
  vertical-align: middle;
}

.card-body a,
.card-body p {
  color: white;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 1.5em;
  width: 1.5em;
}

.carousel-control-next-icon {
  margin-left: 1.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
  margin-right: 1.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.main {
  padding: 50px 0;
}
li > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glide__arrows .glide_arrow {
  background: #000000;
  border: none;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50px;
  color: #fff;
  font-size: 22px;
  outline: none;
  margin-right: 15px;
}

.glide__arrows .glide_arrow .glide__arrow--left {
  left: 0;
}
.glide__arrows .glide_arrow .glide__arrow--right {
  right: -90px;
}

.glide__slide {
  transform: scale(0.9);
  filter: brightness(70%);
  /*filter:blur(3.5px);*/
  transition: all ease 0.25s;
}

.glide__slide.glide__slide--active {
  filter: brightness(100%);
  /*filter: blur(0);*/
  transform: scale(1);
}
div.main > div.col-4 {
  width: 34%;
  float: left;
  padding: 30px 70px;
}

div.main > div.col-8 {
  width: 66%;
  float: left;
}

/*DETAILS*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

.movie-card {
  background-size: contain;
  background-repeat: no-repeat;
  /*width: 75%;*/
  /* max-width: 1200px; */
  height: 100%;
  left: 0;
  /* width: 100%; */
  display: block;
  /*margin: 0px 0px 0px 4em;*/
  border-radius: 8px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}

.color-overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    rgb(102 97 97 / 13%) 0%,
    rgb(255 255 251) 60%,
    rgb(255 255 255) 100%
  );
  background-blend-mode: multiply;
}

.movie-content {
  width: 65%;
  height: 100%;
  display: block;
  position: relative;
  float: right;
  padding-right: 1em;
  margin-top: 1em;
}

.movie-content-image {
  height: 100% !important;
  min-height: 100% !important;
  display: block;
  position: relative;
  float: left;
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 20px;
  border: 1px;
  width: 25%;
  overflow: hidden;
}

.movie-info {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  line-height: 1;
  margin: 0;
  font-weight: 700;
  opacity: 0.5;
  margin-bottom: 5px;
}

.movie-header {
  margin-bottom: 2em;
}

.movie-desc {
  font-weight: 300;
  opacity: 0.84;
  margin-bottom: 2em;
  font-size: large;
}

.btn {
  background-color: rgba(238, 140, 48, 0.986);
  color: white;
}
/*.btn {
	padding: .8em 2em;
	background-color: rgba(255,255,255,.2);
	color: black;
}

.btn-outline {
	background-color: transparent;
	border: 2px solid #000000;
}

.btn::before {
	font-family: 'Material Icons';
	content: '\e037';
	vertical-align: middle;
	font-size: 1.5em;
	padding-right: .5em;
}

.btn-outline:hover {

	box-shadow: 0px 1px 8px 0px rgba(245,199,0,.2);
}*/

@media (max-width: 1000px) {
  .movie-content {
    width: 50%;
    max-width: 95%;
  }
}

@media (max-width: 800px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
  }
}

@media (max-width: 600px) {
  .movie-card,
  .movie-card:nth-child(2),
  .movie-card:nth-child(3) {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
  }

  .color-overlay {
    background: linear-gradient(
      to bottom,
      rgba(42, 159, 255, 0.2) 0%,
      rgba(33, 33, 32, 1) 60%,
      rgba(33, 33, 32, 1) 100%
    );
  }

  .movie-content {
    margin-top: 4.2em;
    width: 90%;
  }

  .movie-share {
    display: block;
    width: 100%;
  }
}

/*Comments*/

.comments-container {
  width: auto;
  position: relative;
}
.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.comments-list .comment-box {
  width: auto;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comment-box {
  box-shadow: 0px 8px 12px 0px rgb(0 0 0 / 25%);
  border-radius: 8px;
  margin-bottom: 1em;
}

.comment-div{
  border-radius: 8px;
}

.comment-box .comment-head {
  background: #fcfcfc;
  padding: 10px 12px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}

.comment-box .comment-content {
  background: #fff;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }
}
